<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js">
<script>
  $(document).ready(function(){
  $('#telefone').mask('(00)00000-0000');
  $('#phone-number').mask('0000-0000');
})
</script>
<h3>Criar Empresa</h3>
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="form-group col-5">
        <label for="nomeEmpresa">Nome mpresa</label>
        <input type="text" class="form-control form-control-sm" id="nomeEmpresa" required [(ngModel)]="empresa.nomeEmpresa"
          name="nomeEmpresa">
      </div>

      <div class="form-group col-3">
        <label for="cnpjEmpresa">CNPJ da empresa</label>
        <input type="text" class="form-control form-control-sm" id="cnpjEmpresa" required [(ngModel)]="empresa.cnpjEmpresa"
          name="cnpjEmpresa">
      </div>


      <div class="form-group col-2">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control form-control-sm" id="telefone" required [(ngModel)]="empresa.telefone"
        name="telefone">
      </div>

      <div class="form-group col-6">
        <label for="endereco">Endereço</label>
        <input type="text" class="form-control form-control-sm" id="endereco" required [(ngModel)]="empresa.endereco"
          name="endereco">
      </div>

      <div class="form-group col-2">
        <label for="dataFundacao">Data Fundação</label>
        <input type="date" class="form-control form-control-sm" id="dataFundacao" required [(ngModel)]="empresa.dataFundacao"
        name="dataFundacao">
      </div>

      <div class="form-group col-2">
        <label for="proprietario">Proprietário</label>
          <select class="form-control form-control-sm" id="proprietario" required [(ngModel)]="empresa.proprietario.empregado.id"
          name="proprietario">
            <option value="">Luiz Mario</option>
          </select>
      </div>

      <div class="col-12">
      <button type="submit" class="btn btn-success">Enviar</button>
      </div>

    </div>
  </form>
</div>

<div [hidden]="!submitted">
  <!-- <h4>Você enviou com sucesso!</h4> -->
  <!-- <button class="btn btn-success" (click)="newEmpregado()">Add</button> -->
</div>