<h2>Detalhes Empesa</h2> 

<hr/>
<div *ngIf="empresa">
  <div>
    <label><b>Nome Empresa: </b></label> {{empresa.nomeEmpresa}}
  </div>

  <div>
    <label><b>CNPJ: </b></label> {{empresa.cnpjEmpresa}}
  </div>
  
  <div>
    <label><b>Telefone: </b></label> {{empresa.telefone}}
  </div>
  
  <div>
    <label><b>Endereço: </b></label> {{empresa.endereco}}
  </div>

  <div>
    <label><b>Data Fundação: </b></label> {{empresa.dataFundacao}}
  </div>

  <div>
    <label><b>Proprietário: </b></label> {{empresa.proprietario}}
  </div>

</div>
<br>
<button (click)="list()" class="btn btn-primary">Voltar à lista de empresas</button><br>


